//CUSTOM VARIABLES

//SPACING
$spacing--xs: 1rem; //16px
$spacing--sm: 1.5rem; //24px
$spacing--md: 2rem; //32px
$spacing--lg: 3rem; //48px
$spacing--xl: 4rem; //64px
$spacing--xxl: 5rem; //80px
$spacing--xxxl: 6rem; //96px

//FONT SIZES
$fontsize--xs: .875rem; //14px
$fontsize--sm: 1rem; //16px
$fontsize--md: 1.125rem; //18px
$fontsize--lg: 1.25rem; //20px
$fontsize--xl: 1.5rem; //24px
$fontsize--xxl: 2rem; //32px
$fontsize--xxxl: 2.5rem; //40px

//OTHER
$box-shadow-1: 0px 2px 5px rgba(0,0,0,.30);
$box-shadow-2: 2px 4px 16px rgba(get-color(secondary),.3);
$box-shadow-2-hover: 0px 2px 30px rgba(get-color(secondary),.7);
$border-radius: 7px;
$border-pill: 100px;
$line-height-md: 2rem; 
$line-height-sm: 1.875rem;
$container: 1440px;
$gradient-1: linear-gradient(43deg, #3C4755 0%, #2D3D51 100%);

//GLOBAL STYLES
.inner.expanded{
	height: 100%;
}//end .inner.expanded

.module:focus{
	outline: none;
}//end .module focus