$site-palette: (
  primary:    #116189,
  secondary:  #24B495,
  default:    #303036,
  default-tint1: #3E4E58,
  inverse:    #FFFFFF,
  inverse-tint1: #F5F7F9,
  accent1:    #1A729D,
  accent2:    #89D0EF,
  accent3:    #E9F3F7,
  accent4:    #E9F3F7,
);