//TYPOGRAPHY

body{
	color: get-color(default);
	line-height: 1.5rem;
}//end body

//HEADINGS

h1, h2, h3, h4, h5, h6{
	color: get-color(default);
}

h2, h3, h4, h5, h6 {
	font-family: $body-font-family;
}

h3 {
	color: get-color(primary);
	line-height: 2rem;
}

h4 {
	text-transform: uppercase;
}

p{
	line-height: 1.5rem;
	color: get-color(default);
	font-size: 1.125rem;
}//end p

