*[role="slide-toggle-target"]{
	display:none;
}
.module.deck-accreditations{
	padding: $spacing--xl 0;
	background-color: get-color(accent1);

	@include breakpoint (large only) {
		padding: $spacing--lg 0;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding: $spacing--md 0 $spacing--xs/2;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--sm 0;
	}//end small only breakpoint
	.inner{
		@include inner;

		h2 {
			color: get-color(inverse);
			margin-bottom: $spacing--md;

			@include breakpoint (small only) {
				margin-bottom: $spacing--sm;
			}//end small only breakpoint
		}//end h2

		.grid-x{

			.cell{
				padding: 0 $spacing--sm/2;

				@include breakpoint (medium only) {
					margin-bottom: $spacing--sm;
				}//end medium only breakpoint

				@include breakpoint (small only) {
					padding: 0;

					&:not(:last-of-type) {
						margin-bottom: $spacing--sm;
					}//end &:not(:last-of-type)
				}//end small only breakpoint

				.accred-card{
					background-color: get-color(inverse);
					padding: $spacing--xs;
					border-radius: $border-radius;
					box-shadow: $box-shadow-1;
					.card-content{
						display: flex;
						flex-direction: column;
						align-items: center;
						position: relative;
						justify-content: center;
						img{
							margin-bottom: $spacing--sm;
							max-height: 100px;
							width: auto;
						}//end img

						h4{
							line-height: 1.5rem;
							text-align: center;
							color: get-color(primary);
							font-size: 1rem;
						}//end h4
					}//end .card-content

					.card-info{
						p{
							font-size: rem-calc(14px);
							line-height: 1.5rem;
						}//end p
					}//end p

					.toggle-button{
						a{
							text-align: center;
							display: block;
							font-size: 1.125rem;
							color: get-color(default-tint1);
							text-transform: uppercase;
							font-weight: $font-weight-bold;
						}//end a
					}//end .toggle-butotn
				}//end .accred-card
			}//end .cell
		}//end .grid-x
	}//end .inner
}//end .module.deck-accreditations