.module.callout{
	border: none;
	margin-bottom: 0;
	padding: $spacing--md 0;
	background-color: get-color(primary);

	@include breakpoint (small only) {
		padding: $spacing--sm 0;
	}//end small only breakpoint

	.inner{
		@include inner;

		h2 {
			color: get-color(inverse);
			// margin-bottom: $spacing--md;
		}//end h2

		.card-section{
			background-color: get-color(inverse);
			border-radius: $border-radius;
			box-shadow: $box-shadow-1;
			padding: $spacing--lg;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				padding: $spacing--sm;
			}//end small only breakpoint

			.cell {
				img {
					@include breakpoint (small only) {
						height: 140px;
						width: 150px;
					}//end small only breakpoint
				}
				&:first-of-type {
					text-align: center;
					padding-right: $spacing--xl;
					align-items: center;
					justify-content: center;
					display: flex;

					@include breakpoint (large only) {
						padding-right: $spacing--md;
					}//end large only breakpoint

					@include breakpoint (medium only) {
						padding-right: $spacing--sm;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: 0;
						margin-bottom: $spacing--sm;
					}//end small only breakpoint
				}//end first-of-type

				&:last-of-type {
					display: flex;
					flex-direction: column;
					justify-content: center;
				}//end &:last-of-type
			}//end &:first-of-type
		}//end .card-section
	}//end .inner
}//end .module.callout