.module.duo--cta{
	padding: $spacing--xl 0;
	background: linear-gradient(180deg, get-color(accent3) 12rem, get-color(primary) 12rem, get-color(primary) 100%);

	@include breakpoint (large only) {
		padding: $spacing--lg 0;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding: $spacing--sm 0;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--sm 0;
	}//end small only breakpoint
	.inner{
		@include inner;

		.grid-x{
			.cell{
				&:first-of-type{
					padding-right: $spacing--sm;

					@include breakpoint (medium only) {
						padding-right: $spacing--xs/2;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: 0;
					}//end small only breakpoint
				}//end first-of-type
				&:last-of-type{
					padding-left: $spacing--sm;
					position: relative;

					@include breakpoint (medium only) {
						padding-left: $spacing--xs/2;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: 0;
						position: static;
						margin-bottom: $spacing--sm;
					}//end small only breakpoint
				}//end last-of-type
				.duo--card{
					background-color: get-color(accent2);
					padding: $spacing--xxxl $spacing--lg;
					border-radius: $border-radius;
					box-shadow: $box-shadow-1;

					@include breakpoint (large only) {
						padding: $spacing--lg;
					}//end large only breakpoint

					@include breakpoint (medium only) {
						padding: $spacing--lg $spacing--md;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: $spacing--sm;
					}//end small only breakpoint

					h2{
						color: get-color(inverse);
						line-height: 3rem;
						margin-bottom: $spacing--md;
						max-width: 475px;
						font-size: 2.5rem;

						@include breakpoint (medium only) {
							font-size: 2rem;
							line-height: 2.5rem;
						}//end medium only breakpoint

						@include breakpoint (small only) {
							font-size: $fontsize--xl;
							line-height: 2rem;
							margin-bottom: $spacing--sm;
						}//end small only breakpoint
					}//end h2

					.button{
						padding: $spacing--sm;
						font-size: 1.5rem;

						@include breakpoint (medium down) {
							font-size: $fontsize--md;
							padding: $spacing--xs;
							font-size: 1.5rem;
						}//end medium down breakpoint
						span{
							display: none;
						}//end span
					}//end .button
				}//end .duo--card

				.duo--media{
					background-image: url("../img/duos/the-oaks-signage.jpg");
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					border-radius: $border-radius;
					box-shadow: $box-shadow-1;
					overflow: hidden;
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;

					@include breakpoint (small only) {
						min-height: 250px;
						position: static;
					}//end small only breakpoint
				}//end .duo--media
			}//end .cell
		}//end .grid-x
	}//end .inner
}//end .module.duo--cta