.module.deck {
	padding: $spacing--xl 0 2.5rem;
	background-color: get-color(inverse-tint1);

	@include breakpoint (large only) {
		padding: $spacing--md 0 $spacing--sm;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding: $spacing--md 0 0;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--sm 0;
	}//end small only breakpoint

	.inner {
		@include inner;
		@include innerpadding($p-small: $spacing--sm,$p-medium: $spacing--md/2, $p-large: $spacing--md, $p-xlarge: $spacing--xl ,$p-xxlarge: $spacing--xxxl - $spacing--xs);

		.grid-x {
			.cell {
				padding: 0 $spacing--md/2;

				@include breakpoint (large only) {
					padding: 0 $spacing--xs/2;
				}//end large only breakpoint

				@include breakpoint (medium only) {
					padding: 0 $spacing--sm/2;
					margin-bottom: $spacing--sm;
				}//end medium only breakpoint

				@include breakpoint (small only) {
					padding: 0;

					&:not(:last-of-type) {
						margin-bottom: $spacing--sm;
					}//end &:not(:last-of-type)
				}//end small only breakpoint

				.deck__card {
					display: block;
					@include transition;

					.deck__media {
						height: 170px;
						width: 100%;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
						border-radius: $border-radius $border-radius 0 0;

						@include breakpoint (small only) {
							height: 250px;
						}//end large only breakpoint
					}//end .deck__card

					.deck__content {
						padding: $spacing--sm;
						padding-top: $spacing--xs;

						@include breakpoint (large only) {
							padding: $spacing--xs;
						}//end large only breakpoint

						p {
							@extend h3;
							margin-bottom: $spacing--sm;

							@include breakpoint (large only) {
								font-size: 1.25rem;
								line-height: 1.5rem;
							}//end large only breakpoint
						}//end h3

						.button {
							margin-bottom: 0;
							display: inline-block;
						}//end .button
					}//end .deck__content

					&:hover {
						background-color: get-color(inverse);
						border-radius: $border-radius;
						overflow: hidden;
						box-shadow: $box-shadow-1;
						transform: translateY(-$spacing--sm);
						@include transition;

						@include breakpoint (large only) {
							transform: translateY(-$spacing--xs);
						}//end large only breakpoint

						@include breakpoint (medium only) {
							transform: translateY(-$spacing--xs);
						}//end medium only breakpoint

						.button {
							@extend .button--outline:hover;
						}//ebd .button
					}//end :hover
				}//end .deck__card
			}//end .cell
		}//end .grid-x
	}//end .inner
}//end .modulde.deck