.module.duo{
	.inner{
		max-width: none;
		.grid-x{
			.cell{
				&.media-cell {
					position: relative;
				}//end media-cell
				
				&.content-cell{
					display: flex;
					align-items: center;

					&.medium-order-2{
						.duo--card{
							margin: 0 auto 0 0;
							padding: $spacing--xl $spacing--xxxl $spacing--xl $spacing--lg;

							@include breakpoint (xlarge only) {
								padding: $spacing--xl $spacing--xl $spacing--xl $spacing--lg;
							}//end xlarge only breakpoint

							@include breakpoint (large only) {
								padding: $spacing--lg;
							}//end large only breakpoint

							@include breakpoint (medium only) {
								padding: $spacing--md;
							}//end medium only breakpoint

							@include breakpoint (small only) {
								padding: $spacing--sm;
							}//end small only breakpoint
						}//end .duo--card
					}//end .medium-order-2

				}//end .content-cell
				.duo--card{
					background-color: get-color(inverse);
					padding: $spacing--xl $spacing--lg $spacing--xl $spacing--xxxl;
					max-width: $container/2;
					width: 100%;
					margin: 0 0 0 auto;

					@include breakpoint (xlarge only) {
						padding: $spacing--xl $spacing--lg $spacing--xl $spacing--xl;
					}//end xlarge only breakpoint

					@include breakpoint (large only) {
						padding: $spacing--lg;
					}//end large only breakpoint

					@include breakpoint (medium only) {
						padding: $spacing--md;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: $spacing--sm; 
						max-width: none;
					}//end small only breakpoint

					h2 {
						@extend h3;
					}

					& > :last-child{
						margin-bottom: 0;
					}//end last-child
				}//end .duo--card

				.duo--media{
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100%;

					@include breakpoint (small only) {
						min-height: 250px;
						position: relative;
					}//end small-only breakpoint

					.button{
						background-color: get-color(inverse);
						color: get-color(primary);
						padding: $spacing--xs $spacing--xl;
						box-shadow: $box-shadow-1;
						display: flex;
						align-items: center;
						justify-content: center;
						@include transition;

						&:before{
							content:'';
							background-image: url("../img/icon/play-video.svg");
							background-repeat: no-repeat;
							height:24px;
							width: 24px;
							display: inline-block;
							font-size: $fontsize--md;
							margin-right: $spacing--xs;
						}//end before

						&:hover{
							@include transition;
							transform: scale(1.05);
							box-shadow: $box-shadow-2;
						}//end hover
					}//end button

					&.overlay{
						padding: $spacing--lg;
						overflow: hidden;

						&:after{
							@include overlay;
							background-color: rgba(#000000, .7);
						}//end after

						.logo{
							z-index: 1;
							position: relative;
							width: 300px;
							height: 245px;
						}//end img
					}//end overlay
				}//end .duo--media
			}//end .cell
		}//end .grid-x
	}//end .inner

	&--billboard{
		background-color: get-color(primary);
		padding-top: 0;
		.inner{
			max-width: 100%;
			padding: 0;
			.grid-x{
				.cell{
					padding: 0;

					.duo--media {
						border-radius: 0;
						box-shadow: none;
						background-position: center bottom;
						position: relative;

						.button--video {
							display: block;
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							background-image: url("../img/icon/play-icon.svg");
							background-repeat: no-repeat;
							background-size: 65px 65px;
							background-position: center center;
						}
					}//end .duo--media
					.duo--card{
						background: none;

						.accreditations {
							.grid-x{
								.cell {
									width: auto;
									display: flex;
									align-items: center;

									&:not(:last-of-type) {
										padding-right: $spacing--xs;
									}//end &:not(:last-of-type)
								}//end .cell
							}//end .grid-x
						}//end .accreditations

						& > * {
							color: get-color(inverse);
						}//end & > *

						& > p{
							margin-bottom: $spacing--sm;

							@include breakpoint (medium only) {
								margin-bottom: $spacing--xs;
							}//end medium only breakpoint
						}//end p

						h1 {
							margin-bottom: $spacing--md;
						}//end h1

						h3 {
							color: get-color(accent2);
						}//end h3

						h4{
							margin-bottom: $spacing--xs;
							line-height: 1;

							@include breakpoint (medium down) {
								margin-bottom: $spacing--sm;
								line-height: 1;
							}//end medium down breakpoint
						}//end h4
					}//end .duo-card
				}//end .cell
			}// end .grid-x
		}//end .inner
	}//end .billboard

	&--insurance {
		padding: $spacing--lg 0;

		@include breakpoint (small only) {
			padding: $spacing--md 0;
		}//end small only breakpoint

		.inner{
			@include inner;
			.grid-x{
				.cell{
					.duo--card{
						box-shadow: none;
						padding: 0 $spacing--xxl 0 0;
						background: none;
						max-width: none;

						@include breakpoint (xlarge only) {
							padding: 0 $spacing--xl 0 0;
						}//end xlarge only breakpoint

						@include breakpoint (medium only) {
							padding: 0 $spacing--md 0 0;
						}//end medium only breakpoint

						@include breakpoint (small only) {
							padding: 0;
							margin-bottom: $spacing--sm;
						}//end small only breakpoint

						h4{
							text-transform: uppercase;
							margin-bottom: $spacing--md;
						}//end h4

						.button-group {
							flex-wrap: wrap;
							flex-direction: column;
							align-items: flex-start;

							.button {
								width: auto;
								&:first-of-type {
									margin: 0;
									margin-bottom: $spacing--sm;
								}//end &:first-of-type
							}//end .button
						}//end .button-group
					}//end .duo--card

					.duo--media{
						position: relative;
						display: flex;
						align-items: center;
						min-height: 275px;
						box-shadow: none;
						height: 100%;

						.grid-x {
							width: 100%;
							min-height: 275px;

							@include breakpoint (small only) {
								max-width: 450px;
								margin: 0 auto;
							}//end small only breakpoint

							.cell{
								display: flex;
								justify-content: center;
								margin-bottom: $spacing--xs;
								padding: $spacing--xs;

								@include breakpoint (small only){
									padding: $spacing--xs;
								}//end small only breakpoint
								.insurance-logos{
									align-self: center;
									display:flex;
									flex: 0 1 auto;
									max-width: 120px;

									@include breakpoint (medium only){
										max-width:110px;
									}

									@include breakpoint (small only) {
										max-width: 85px;
									}//end small only breakpoint
								}//end insurance logos
							}//end cell
						}//end .grid-x
					}//end .duo--media
				}//end .cell
			}//end .grid-x
		}//end .inner
	}//end .insurance
}//end .module.duo

.program-header {
	color:#fff;
	text-align:center;
	background-color:#116189;
	margin-bottom:0 !important;
	padding:15px;
}