.footer{
	background-color: get-color(accent1);
	padding: $spacing--md 0;
	padding-bottom: $spacing--md + rem-calc(88px);
	.inner{
		@include inner;
		
		.footer__accreditations {
			max-width: 900px;
			margin: 0 auto $spacing--md;

			@include breakpoint (small only) {
				max-width: 275px;
			}//end small only breakpoint
			.cell {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 $spacing--xs/2;

				@include breakpoint (small only) {
					padding: 0;

					&:not(:last-of-type) {
						margin-bottom: $spacing--sm;
					}//end &:not(:last-of-type)

					&:last-of-type {
						width: 100%;
					}
					
				}//end small only breakpoint
			}//end .cell

			img {
				max-height: 75px;
				width: auto;
			}//end img
		}//end .footer__accreditations

		.privacy-policy{
			text-align: center;
			color: get-color(inverse);

			.commission-call {
				color: get-color(inverse);
				font-size:16px;
			}


			a{
				color: get-color(inverse);
				text-decoration: underline;

			}//end a
		}//end privacy policy
	}//end inner
}//end footer