.module.gallery{
	background-color: get-color(primary);
	padding: $spacing--lg 0;

	@include breakpoint (medium only) {
		padding: $spacing--md 0;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--sm 0;
	}//end small only breakpoint

	.inner{
		@include inner;

		.gallery-container {
			background-color:#FFF;
			border-radius:$border-radius;
			box-shadow: $box-shadow-1;

			@include breakpoint (medium only) {
				height: 750px;
			}//end small only breakpoint
			
		}

		.facility-card {
			padding:50px;

			p {
				line-height: 1.5rem; 
				color: #303036;
				font-size: 1.125rem;
				font-family:Source Sans Pro, sans-serif;
				font-weight: normal;
				white-space: pre-line;
			}

			@include breakpoint (small only) {
				padding: $spacing--sm;
			}//end small only breakpoint
		}

		.gallery-card{
			margin-bottom: $spacing--md;
			& > * {
				text-align: center;
				color: get-color(inverse);

				@include breakpoint (small only) {
					text-align: left;
				}//end small only breakpoint
			}//end *

			& > :last-child{
				margin-bottom: 0;
			}//end last-child
		}//end .gallery-card

		.gallery__slider{
			position: relative;
			display: flex;
			height: 100%;

			@include breakpoint (medium only) {
				height: 425px; 
			}//end small only breakpoint

			@include breakpoint (small only) {
				height: 250px;
			}//end small only breakpoint

			.slick-list{
				overflow: hidden;
				border-radius: 0px 7px 7px 0px;
				width: 100%;

					.slick-track, .slick-track  div {
						height: 100%; 
						max-height: 575px;
						width: 100%;

						@include breakpoint (xlarge only) {
							max-height: 563px;
						}//end large only breakpoint

						@include breakpoint (large only) {
							max-height: 519px;
						}//end medium only breakpoint

						@include breakpoint (medium only) {
							max-height: 500px;
							border-radius: 0px 0px 7px 7px;
						}//end small only breakpoint
	
						@include breakpoint (small only) {
							border-radius: 0px 0px 7px 7px;
						}//end small only breakpoint
					}//end .slick-track, .slick-track  div
					.slick-slide{
						& > div {
							position: relative;
						}//end div
						.gallery-image{
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							background-size: cover;
							background-repeat: no-repeat;
							background-position: right bottom;

							@include breakpoint (large only) {
								background-position: center;
							}//end medium only breakpoint

							@include breakpoint (medium only) {
								background-position: center;
							}//end small only breakpoint

							@include breakpoint (small only) {
								background-position: center;
							}//end small only breakpoint

						}//end .gallery-image
					}//end .slick-slide

			}//end slick-list

			.slick-arrow{
				position: absolute;
				height: 50px;
				width: 50px;
				background: #FFF;
				z-index: 1;
				align-self: center;
				justify-content: center;
				box-shadow: 2px 4px 16px rgba(0,0,0,.1);
				border-radius: $border-radius;
				top: calc(50% - 30px);
				cursor: pointer;
				@include transition;

				@include breakpoint (small only) {
					height: 40px;
					width: 40px;
					top: calc(50% - 20px);
				}//end small only breakpoint

				&:after{
					content:'';
					background-repeat: no-repeat;
					display: block;
					position: absolute;
					height: 18px;
					width: 10px;
					top: calc(50% - 9px);
					left: calc(50% - 5px);

					@include breakpoint (small only) {
						font-size: 1.7rem;
					}//end small only breakpoint
				}//end after

				&.slick-prev{
					left: 1rem;
					&:after{
						background-image: url("../img/icon/angle-left.svg");
					}//end after
				}//end slick-prev

				&.slick-next{
					right: 1rem;
					&:after{
						background-image: url("../img/icon/angle-right.svg");
					}//end after
				}//end slick-next

				&:hover{
					box-shadow: $box-shadow-1;
					background: darken(get-color(inverse),5%);
					transform: translateY(2px);
					@include transition;
				}//end hover
			}//end slick-arrow
		}//end accreditaion__slider
	}//end .inner
}//end .module.gallery