.module.image-grid{
	background: get-color(inverse-tint1);
	padding-top: $spacing--lg;

	@include breakpoint (medium only) {
		padding-top: $spacing--md;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding-top: $spacing--sm;
	}//end small only breakpoint

	.inner.expanded{
		@include inner;
		@include innerpadding ($p-small: $spacing--xs, $p-medium: $spacing--sm, $p-large: 2.5rem, $p-xlarge: 3.5rem, $p-xxlarge: 5.5rem);

		.grid-x{
			.cell{
				padding: 0 $spacing--xs/2;

				@include breakpoint (medium down) {
					padding: $spacing--xs/2;
				}//end medium down breakpoint
				.treatment-box{
					display: flex;
					border-radius: $border-radius;
					box-shadow: $box-shadow-1;
					overflow: hidden;
					text-align: center;
					height: 200px;
					background-size: cover;
					background-repeat: no-repeat;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					padding: $spacing--xs;
					@include transition;

					@include breakpoint (large down) {
						height: 150px;
						background-position: center center;
					}//end large down breakpoint

					&:before{
						content: '';
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						display: block;
						background-color: rgba(#494638,.60);
						@include transition;

					}//end before

					p{
						font-weight: $font-weight-bold;
						font-size: $fontsize--lg;
						color: get-color(inverse);
						margin-bottom: 0;
						position: relative;
						line-height: 1.1;
						margin-bottom: $spacing--xs/2;

						@include breakpoint (large only) {
							font-size: $fontsize--md;
						}//end large only breakpoint

						@include breakpoint (small only) {
							font-size: $fontsize--md;
						}//end small only breakpoint
					}//end p

					span{
						font-size: 12px;
						line-height: 1;
						text-transform: uppercase;
						font-weight: $font-weight-extrabold;
						color: get-color(inverse);
						position: relative;
						@include transition;

						&:after{
							content: "+";
							font-size: 1rem;
							top: 0;
							bottom: 0;
							width: 16px;
							display: inline-block;
							margin-left: $spacing--xs/2;
							color: get-color(inverse);
							@include transition;
						}//end after
					}//end span

					&:hover{
						box-shadow: 0px 0px 30px rgba(get-color(primary),.7);
						@include transition;

						&:before{
							background-color: rgba(get-color(accent1),.60);
							@include transition;
						}//end before

						span{

						 	&:after{
						 		color: get-color(secondary);
						 		transform: rotate(360deg);
								transform-origin: 50% 50%;
								@include transition;
						 	}//end after
						 }//end span
					}//end hover
				}//end .treatment-box
			}//end .cell
		}//end .grid-x
	}//end .inner.expanded
}//end .module.deck.highlight--deck