.module.location-map{
	background-size: cover;
	background-repeat: no-repeat;
	padding: $spacing--lg 0;


	@include breakpoint (large only) {
		padding: $spacing--lg 0;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding: $spacing--md 0;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--sm 0;
	}//end small only breakpoint
	.inner{
		@include inner;

		.grid-x{
			overflow: hidden;
			box-shadow: $box-shadow-1;
			background-color: rgba(get-color(inverse), .9);
			.cell{
				position: relative;

				@include breakpoint (small only) {
					position: static;
				}//end small only breakpoint
				.map-card{
					display: flex;
					justify-content: center;
					flex-direction: column;
					height: 100%;
					padding: $spacing--lg $spacing--md;

					@include breakpoint (medium only) {
						padding: $spacing--md;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: $spacing--sm;
					}//end small only breakpoint

					h2{
						color: get-color(primary);
					}//end h2
					h4{
						color: get-color(primary);
					}//end h4

					p{
						&:first-of-type{
							margin-bottom: $spacing--sm;
						}
					}//end p

					& > :last-child{
						margin-bottom: 0;
					}//end :last-child

					.map-address{
						& > :last-child{
							margin-bottom: 0;
						}//end :last-child
					}//end .map-address

				}//end .map-card

				.map-container{
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;

					@include breakpoint (medium only) {
						position: static;
					}//end small only breakpoint

					@include breakpoint (small only) {
						position: static;
					}//end small only breakpoint
					
					.map{
						min-height: 300px;
						height: 100%;
						
						&--info{
							h3{
								font-size: 1.25rem;

								@include breakpoint (small only) {
									font-size: 15px;
									margin-bottom: 5px;
									line-height:10px;
								}//end small only breakpoint
							}//end h3

							p{
								font-size: 1rem;
								line-height: 1.5rem;

								@include breakpoint (small only) {
									font-size: 14px;
									margin-bottom: 10px;
								}//end small only breakpoint
							}//end p

							a.button {
								@include breakpoint (small only) {
									font-size: 16px;
									padding: 10px;
									text-transform:none;
									margin:0;
								}//end small only breakpoint
							}
						}//end --info
					}//end .map
				}//end .map-container
			}//end .cell
		}//end .grid-x
	}//end inner
}//end .module.location-map