.module.spotlight{
	padding: $spacing--xl 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	@include breakpoint (large only) {
		padding: $spacing--lg 0;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding: $spacing--md 0;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--sm 0;
	}//end small only breakpoint

	.inner{
		@include inner;
		@include innerpadding;

			.spotlight__card{
				background-color: rgba(get-color(inverse),.9);
				padding: $spacing--xl;
				text-align: center;
				border-radius: $border-radius;
				box-shadow: $box-shadow-1;

				@include breakpoint (medium only) {
					padding: $spacing--sm;
				}//end medium only breakpoint

				@include breakpoint (small only) {
					text-align: left;
					padding: $spacing--sm;
				}//end small only breakpoint

				h2{
					font-size: 1.5rem;
					color: get-color(primary);
					margin-bottom: $spacing--xs;
				}//end h2

				h3{
					color: get-color(default-tint1);
					margin-bottom: $spacing--sm;
				}//end h3

				p {
					margin-left: auto;
					margin-right: auto;
				}//end p

				.expanded.button-group{
					justify-content: center;
					.button{

					}//end .button
				}//end .expanded.button-group

				& > :last-child {
					margin-bottom: 0;
				}//end & > :last-child
			}//end .spotlight__card
	}//end .inner

	&.spotlight--primary {
		background-color: get-color(accent1);
		.inner {
			.spotlight__card {
				background: none;
				border-radius: none;
				box-shadow: none;
				padding: 0;

				.spotlight__text{
					@include breakpoint (xlarge only) {
						margin-right: 8rem;
						margin-left: 8rem;
					}//end x-large only breakpoint
					@include breakpoint (large only) {
						margin-right: 8rem;
						margin-left: 8rem;
					}//end large only breakpoint
					@include breakpoint (medium only) {
						margin-right: 2rem;
						margin-left: 2rem;
					}//end medium only breakpoint
					@include breakpoint (small only) {
						margin-right: 2rem;
						margin-left: 2rem;
					}//end small only breakpoint
				}

				.callout-text{
					margin-left:0 !important;
					margin-right: 0 !important;
				}//end p

				* {
					color: get-color(inverse);
				}//end *

				h2 {
					font-size: 2rem;
				}//end h2

				h3 {
					padding-top: $spacing--xs;
					font-size: 38px;
					font-weight: 700;
					line-height: 46px;
				}//end h3;

				.callout-header {
					font-size:26px;
					font-weight:700;
					line-height:31px;
					padding-bottom: 15px;
				}

				.admissions-steps {
					margin: 0 auto $spacing--md;
					flex-direction: row;
					align-items: center;
					justify-content: center;

					@include breakpoint (small only) {
						justify-content: left;
					}//end small only breakpoint

					.spotlight__callout{
						background-color: get-color(inverse);
						border-radius: $border-radius;
						box-shadow: $box-shadow-1;
						padding: $spacing--lg;
						width:100%;
						@include breakpoint (medium only) {
							padding: $spacing--md;
						}//end medium only breakpoint
			
						@include breakpoint (small only) {
							padding: $spacing--sm;
						}//end small only breakpoint
					}//end .card-section

					p {
						color: black;
						text-align: left;
						font-weight:400;
						font-size:18px;
					}

					.callout-cta {
							color: black;
							text-align: left;
							font-weight:700;
							font-size:18px;
					}
					h4 {

						@include breakpoint (medium only) {
							font-size: 1rem;
						}//end medium only breakpoint

						@include breakpoint (small only) {
							font-size: .85rem;
						}//end medium only breakpoint

						&:before {
							content:'';
							display: inline-block;
							// margin-right: $spacing--xs;
							background-image: url("../img/icon/check-icon.svg");
							background-size: 24px 24px;
							background-repeat: no-repeat;
							background-position: center center;
							width: 24px;
							height: 24px;

							@include breakpoint (medium only) {
								margin-right: $spacing--xs/2;
							}//end medium only breakpoint
						}//end &:before
					}//end h4
				}//end .admissions-steps
				
				.button--vob {
					border-color: get-color(inverse);
				}//end .button--vob
			}//end .spotlight__card
		}//end .inner
	}//end .spotlight--primary
}//end .module.spotlight