.sticky-cta {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: get-color(inverse);
	box-shadow: 0px -2px 10px rgba(0,0,0,.10);
	padding: $spacing--xs 0;
	height: 88px;
	transform: translateY(90px);
	@include transition (all .4s ease-in-out);
	z-index: 9999;

	.inner {
		@include inner;
	}//end .inner
	.grid-x {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		.cell {
			width: auto;

			* {
				margin-bottom: 0;
			}
		}//end .cell
	}//end .grid-x

	&.sticky-visible {
		transform: translateY(0px);
		@include transition (all .4s ease-in-out);
	}//emd .sticky-visible
}//end .sticky-cta