.button{
	font-family: $body-font-family;
	text-transform: uppercase;
	font-weight: $font-weight-bold;
	padding: $spacing--xs $spacing--md;
	font-size: 1.25rem;
	display: block;
	border-radius: $border-radius;
	overflow: hidden;
	position: relative;
	box-shadow: $box-shadow-1;

	@media screen and (min-width: 300px) and (max-width: 350px){
		font-size: 1rem;
	}

	&--primary{
		background-color: get-color(secondary);
		background-image: url("../img/icon/phone-white.svg");
		background-size: 20px 20px;
		background-repeat: no-repeat;
		background-position: 24px center;
		color: get-color(inverse);
		padding-left: $spacing--xl;
		@include transition;

		&:hover, &:focus{
			background-color: get-color(secondary);
			box-shadow: $box-shadow-2-hover;
			color: get-color(inverse);
			@include transition;
		}//end hover
	}//end primary

	&--outline{
		background: none;
		color: get-color(default-tint1);
		border: 2px solid get-color(default-tint1);
		box-shadow: none;
		text-shadow: none;

		&:hover{
			@include transition;
			border-color: get-color(primary);
			background-color: get-color(primary);
			color: get-color(inverse);
		}//end hover
	}//end .outline

	&--vob {
		border-color: get-color(primary);
		color: get-color(primary);
	}//end vob
}// end .button

.button-group.expanded{
	align-self: center;

	@include breakpoint (small only){
		flex-direction: column;
		width: 100%;
	}//end small only breakpoint
	.button{
		flex: 0 0 auto;
		font-size: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;

		@include breakpoint (medium only) {
			font-size: 1rem;
		}//end medium only breakpoint

		@include breakpoint (small only){
			width: 100%;
		}//end small only breakpoint

		&:first-of-type{
			margin-right: $spacing--xs;

			@include breakpoint (small only){
				margin-right: 0;
				margin-bottom: $spacing--xs;
			}//end small only breakpoint
		}//end first of type
	}//end .button
}//end .button-group

.inner{
	margin: 0 auto;
	max-width: $container;
}//end inner

.divider{
	background-color: get-color(inverse);
	display: block;
	margin-bottom: $spacing--sm;
	width: 4rem;
	height: 3px;

	@include breakpoint (small only) {
		margin-bottom: $spacing--xs;
	}//end small only breakpoint
}//end divider

.content{
	width: 100vw;
	padding-top: 102px;

	@include breakpoint (medium only) {
		padding-top: 62px;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding-top: 109px;
	}//end small only breakpoint
}//end .conttent