.module.vob{
	background-color: get-color(accent3);
	padding: $spacing--md 0;

	@include breakpoint (medium only) {
		padding: $spacing--sm 0;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--xs 0;
	}//end small only breakpoint

	&.with-bottom{
		margin-bottom: $spacing--lg;

		@include breakpoint (medium only) {
			margin-bottom: $spacing--sm;
		}//end medium only breakpoint
	}//end .with-bottom

	&.no-bottom{
		padding-bottom: 0;
	}//end .no-bottom

	.inner{
		@include inner;
		.vob-card{
			background-color: get-color(inverse);
			border-radius: $border-radius;
			padding: $spacing--lg;
			box-shadow: $box-shadow-1;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				padding: $spacing--sm;
			}//end small only breakpoint

			.cell{
				&:first-of-type{
					padding-right: $spacing--lg;

					@include breakpoint (medium down) {
						padding: 0;
						margin-bottom: $spacing--xs;
					}//end medium down breakpoint
				}//end first-of-type

				&:last-of-type{
					align-items: center;
					justify-content: center;
					display: flex;
					.button{
						padding: $spacing--xs;
						width: 100%;
						font-size: 1.25rem;
						display: flex;
						justify-content: center;
						flex-direction: row;

						&:before{
							content:'';
							background-image: url("../img/icon/contact.svg");
							background-repeat: no-repeat;
							height:19px;
							width: 19px;
							display: inline-block;
							margin-right: $spacing--xs;
						}//end before
					}//end .button
				}//end last-of-type

				& > :last-child{
					margin-bottom: 0;
				}
			}//end .cell
		}// end .vob-card
	}//end .inner
}//end .module.vob

.reveal.vob{
	padding: 0;
	max-width: 600px;
	top: 0 !important;
}//end .reveal.vob