<div id="{{id}}" class="module location-map {{#if class}}{{class}}{{/if}}" style="background-image: url({{img}})">
	<div class="inner">
		<div class="grid-x">
			<div class="cell large-6 large-order-1 medium-order-2 small-order-2">
				<div class="map-card">
					<h2>{{heading}}</h2>
					{{#markdown}}{{text}}{{/markdown}}
					<div class="map-address">
						{{#if main}}
						<h4>Main Campus</h4>
							{{#markdown}}{{main}}{{/markdown}}
						{{/if}}
						{{#if other}}
							<h4>Outpatient Locations</h4>
							{{#each other}}
								{{#markdown}}{{address}}{{/markdown}}
							{{/each}}
						{{/if}}
						
					</div>{{!--/.map-address--}}
				</div>{{!--/.map-card--}}
			</div>{{!--/.cell--}}
			<div class="cell large-6 large-order-2 medium-order-1 small-order-1">
				<div class="map-container">
					<div class="map"
					data-map
					data-map-lat="33.6151466"
					data-map-lng="-84.5456921"
        			data-map-zoom="12"
					data-map-style="grey"></div>
				</div>{{!--/.map-container--}}
			</div>{{!--/.cell--}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.location-map--}}