<div id="{{id}}" class="module gallery {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x gallery-container">
			<div class="cell large-6 large-order-1 medium-order-1 small-order-1">
				<div class="facility-card">
					<h3>{{heading}}</h3>
					<p>{{gallery-card}}</p>		
				</div>{{!--/.map-card--}}
			</div>{{!--/.cell--}}
			<div class="cell large-6 large-order-2 medium-order-2 small-order-2">

				<div id="gallery-slider" class="gallery__slider">
					{{#each gallery-images}}
					<div class="gallery-image" style="background-image: url({{img}})"></div>
					{{/each}}          
				</div>{{!--/.__slider--}}

			</div>{{!--/.cell--}}
		</div>{{!--/.grid-x--}}
	</div>{{!--inner--}}
</div>{{!--/.module.gallery--}}