<div id="footer" class="footer">
	<div class="inner">
		<div class="grid-x small-up-2 medium-up-5 footer__accreditations">
			<div class="cell">
				<script src="https://static.legitscript.com/seals/3417926.js"></script>
			</div>
			<div class="cell">
				<img src="assets/img/accreditations/GHA-white.png" alt="FRN is certified by Georgia Hospital Association">
			</div>
			<div class="cell">
				<img src="assets/img/accreditations/ADACBGA.png" alt="FRN is certified by Alcohol and Drug Abuse Certification Board of Georgia">
			</div>
			<div class="cell">
				<img src="assets/img/accreditations/jointcommission.png" alt="FRN is certified by Joint Commission">
			</div>
			<div class="cell">
				<img src="assets/img/accreditations/naatp.png" alt="FRN is certified by NAATP">
			</div>
		</div>
		<div class="privacy-policy">
	  			Copyright © 2019 Talbott Recovery. All Rights Reserved. | Confidential and Private Call:   <a href="tel:{{#unlesspage 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}"
				  class="InfinityNumber"
				  data-ict-discovery-number="{{@root.site.phone}}"
				  data-ict-silent-replacements="false"
				  onClick="fbq('track', 'Lead', {
							 content_name: 'Talbott PPC', 
							 content_category: 'Landing Pages',
							 content_type: 'Phone Clicks'
						   });"
				  data-ga-event
				  data-ga-category="Phone Numbers"
				  data-ga-action="Phone Clicks"
				  data-ga-label="{{#if ga-label}}{{ga-label}}{{else}}{{#unlesspage 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}{{/if}}">
				  {{#unlesspage 'v-ad'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}
			   </a> | <a href="https://talbottcampus.com/wp-content/plugins/frn_plugins/privacy-policy.pdf">Privacy Policy</a><br>
			   <p class="commission-call">If you have comments or concerns and want to speak with the Joint Commission, you can contact their Customer Service line at <a href="tel:630-792-5800">630-792-5800</a>.</p>
    	</div>{{!--/.privacy-policy--}}
	</div>{{!--/.inner--}}
</div>{{!--/.footer--}}