<div id="{{id}}" class="module duo {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		{{#if section-title}}<h1 class="section-title">{{section-title}}</h1>{{/if}}
		<div class="grid-x">
			<div class="cell content-cell{{#if xlarge-content}}xlarge-{{xlarge-content}}{{/if}} {{#if large-content}}large-{{large-content}}{{else}}large-6{{/if}} {{#if medium-content}}medium-{{medium-content}}{{else}}medium-6{{/if}} {{#if small-content}}small-{{small-content}}{{/if}} medium-order-{{#if media-left}}2{{else}}1{{/if}} small-order-{{#if media-bottom}}1{{else}}2{{/if}}">
				<div class="duo--card">

					{{! BILLBOARD}}
					{{#if billboard}}
					<h4>Atlanta, GA</h4>
					<h1>Talbott Recovery</h1>
					<div class="divider"></div>
					<p>Since 1989, Talbott Recovery has built a long, sustained history of providing evidence-based integrated treatment for individuals with co-occurring substance use and mental health disorders. 
						<br><br>
					With specialized programs for individuals, licensed professionals, pilots, young adults and families, everything we do is aimed at helping patients develop the tools needed to maintain long-term recovery.</p>
						<div class="expanded button-group">
							{{> component-button phone=true}}
						</div>{{!--/.expanded.button-group--}}

					{{/if}}
					{{! END BILLBOARD}}

					{{#if heading}}
					<h2>{{heading}}</h2>
					{{/if}}
					{{#if sub-heading}}
					<h4>{{sub-heading}}</h4>
					{{/if}}
					{{#markdown}}{{text}}{{/markdown}}

					{{#if buttons}}
					<div class="expanded button-group">
				        {{> component-button phone=true}}
				        {{> component-button chat=true red=true}}
				    </div>{{!--/.expanded.button-group--}}
				    {{/if}}
				    {{#if button}}
				    	{{> component-button phone=true}}
				    {{/if}}
				    {{#if button-cta}}
				    <div class="button-cta">
				    	{{> component-button phone=true}}
				    	{{#markdown}}{{button-cta}}{{/markdown}}
				    </div>{{!--/.button-cta--}}
				    {{/if}}
				</div>{{!--/.card--}}
			</div>{{!--/.cell--}}
			<div class="cell media-cell{{#if xlarge-media}}xlarge-{{xlarge-media}}{{/if}} {{#if large-media}}large-{{large-media}}{{else}}large-6{{/if}} {{#if medium-media}}medium-{{medium-media}}{{else}}medium-6{{/if}} {{#if small-media}}small-{{small-media}}{{/if}} medium-order-{{#if media-left}}1{{else}}2{{/if}} small-order-{{#if media-bottom}}2{{else}}1{{/if}}">
				<div class="duo--media {{#if logo}} overlay{{/if}}" style="background-image: url({{img}})">
					
					{{!LOGO}}
					{{#if logo}}
					<img class="logo" src="{{logo.img}}"  alt={{logo.alt}}>
					{{/if}}
					
					{{!VIDEO MODAL}}
					{{#if video-modal}}
					{{!BUTTON}}
					<a class="button--video" data-ga-event data-ga-category="Video" data-ga-action="open modal" data-ga-label="{{heading}} Video" data-open="{{modal-id}}"></a>
					{{/if}}

					{{!INSURANCE}}
					{{#if insurance}}
					<div class="grid-x small-up-3 large-up-3">
					{{#each @root.insurance.logos}}
					<div class="cell">
						<img src="{{src}}" alt="{{alt}}" class="insurance-logos">
					</div>{{!--/.cell--}}
					{{/each}}
					</div>{{!--/.grid-x.small-up-1.medium-up-2--}}
					{{/if}}

					{{!GALLERY}}
					{{#if gallery}}
			         <div id="gallery-slider" class="gallery__slider">
		              {{#each gallery-images}}
		                <div class="gallery-image" style="background-image: url({{img}})"></div>
		                {{!-- <img src="{{img}}"/> --}}
		              {{/each}}          
			         </div>{{!--/.__slider--}}
			         {{/if}}
				</div>{{!--/.duo--media--}}
			</div>{{!--/.cell--}}
			
			{{#if video-modal}}
			{{!REVEAL}}
			<div class="reveal video" data-reset-on-close="true" id="{{modal-id}}" data-reveal>
				<div class="widescreen flex-video">
					<iframe width="560" height="315" src="{{src}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>{{!--/widescreen.flex.video--}}
          		<button class="close-button" data-close aria-label="Close modal" type="button">
            		<span aria-hidden>&times;</span>
          		</button>{{!--/button--}}
			</div>{{!--/.reveal--}}
			{{/if}}

		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.duo--}}