<div id="accreditations" class="module deck-accreditations">
	<div class="inner">
		<h2>Our Accreditations</h2>
		<div class="grid-x" data-equalizer> 
			
			{{!-- GEORGIA HOSPITAL ASSOCIATOIN --}}
			<div class="cell large-3 medium-6 small-12">
				<div id="object-01" class="panel accred-card" role="slide-toggle-container" data-panel="#object-03">
					<div class="card-content" data-equalizer-watch>
						<img src="assets/img/accreditations/GHA.png" alt="FRN is certified by Georgia Hospital Association">
						<h4>Georgia Hospital Association</h4>
					</div>{{!--/.card-content--}}
					<div class="card-info" role="slide-toggle-target">
						<p>The Gold Seal of Approval(R) from the Joint Commission recognizes our commitment to safety and quality of care. The Joint Commission is the leading organization ensuring hospitals and health care providers meet the highest standards.</p>
					</div>{{!--/.card-info--}}
					<div class="toggle-button">
						<a href="javascript:;" class="icon-panel-toggle" role="slide-toggle-trigger" data-ga-event data-ga-category="Accreditation Info" data-ga-action="Learn More Button" data-ga-label="Joint Commission">More Info +</a>
					</div>{{!--/.toggle-button--}}
				</div>{{!--/.accred-card.panel--}}
			</div>{{!--/.cell.large-3.small-12--}}

			<div class="cell large-3 medium-6 small-12">
				<div id="object-02" class="panel accred-card" role="slide-toggle-container" data-panel="#object-03">
					<div class="card-content" data-equalizer-watch>
						<img src="assets/img/accreditations/ADACBGA.png" alt="FRN is certified by Alcohol and Drug Abuse Certification Board of Georgia">
						<h4>Alcohol and Drug Abuse Certification Board of Georgia</h4>
					</div>{{!--/.card-content--}}
					<div class="card-info" role="slide-toggle-target">
						<p>The Gold Seal of Approval(R) from the Joint Commission recognizes our commitment to safety and quality of care. The Joint Commission is the leading organization ensuring hospitals and health care providers meet the highest standards.</p>
					</div>{{!--/.card-info--}}
					<div class="toggle-button">
						<a href="javascript:;" class="icon-panel-toggle" role="slide-toggle-trigger" data-ga-event data-ga-category="Accreditation Info" data-ga-action="Learn More Button" data-ga-label="Joint Commission">More Info +</a>
					</div>{{!--/.toggle-button--}}
				</div>{{!--/.accred-card.panel--}}
			</div>{{!--/.cell.large-3.small-12--}}

			{{!-- JOINT COMMISSION --}}
			<div class="cell large-3 medium-6 small-12">
				<div id="object-03" class="panel accred-card" role="slide-toggle-container" data-panel="#object-03">
					<div class="card-content" data-equalizer-watch>
						<img src="assets/img/accreditations/jointcommission.png" alt="FRN is certified by Joint Commission">
						<h4>Joint Commission</h4>
					</div>{{!--/.card-content--}}
					<div class="card-info" role="slide-toggle-target">
						<p>The Gold Seal of Approval(R) from the Joint Commission recognizes our commitment to safety and quality of care. The Joint Commission is the leading organization ensuring hospitals and health care providers meet the highest standards.</p>
					</div>{{!--/.card-info--}}
					<div class="toggle-button">
						<a href="javascript:;" class="icon-panel-toggle" role="slide-toggle-trigger" data-ga-event data-ga-category="Accreditation Info" data-ga-action="Learn More Button" data-ga-label="Joint Commission">More Info +</a>
					</div>{{!--/.toggle-button--}}
				</div>{{!--/.accred-card.panel--}}
			</div>{{!--/.cell.large-3.small-12--}}

			{{!-- NAATP --}}
			<div class="cell large-3 medium-6 small-12">
				<div id="object-04" class="panel accred-card" role="slide-toggle-container" data-panel="#object-02">
					<div class="card-content" data-equalizer-watch>
						<img width="180px" src="assets/img/accreditations/naatp-stacked-color-full.svg" alt="FRN is certified by NAATP">
						<h4>NAATP</h4>
					</div>{{!--/.card-content--}}
					<div class="card-info" role="slide-toggle-target">
						<p>The National Association of Addiction Treatment Providers, NAATP, has been the addiction service profession’s vision, voice, and thought leader since 1978. We are committed to advancing addiction services and supporting our ever growing membership of service providers. NAATP is a nonprofit professional society of top treatment providers throughout the continuum of care. NAATP’s service as a convening body brings the industry together to promote collegiality and the dissemination of best practices.</p>
					</div>{{!--/.card-info--}}
					<div class="toggle-button">
						<a href="javascript:;" class="icon-panel-toggle" role="slide-toggle-trigger" data-ga-event data-ga-category="Accreditation Info" data-ga-action="Learn More Button" data-ga-label="NAATP">More Info +</a>
					</div>{{!--/.toggle-button--}}
				</div>{{!--/.accred-card.panel--}}
			</div>{{!--/.cell.large-3.small-12--}}

		</div>{{!--/.accordion-container--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.accreditations-accordion--}}