<div id="{{id}}" class="module staff">
	<div class="inner">
		<h2>{{heading}}</h2>
		<div class="staff-container">
			<div class="grid-x medium-up-2">
			{{#each members}}
				<div class="cell">
					<div class="grid-x">
						<div class="staff-photo cell large-2 medium-12 small-12" style="background-image: url({{img}})"></div>{{!--/.staff-photo--}}
						<div class="staff-info cell large-10 medium-12 small-12">
							<h3>{{name}}</h3>
							<h4>{{position}}</h4>
						</div>{{!--/.staff-info--}}
					</div>{{!--/.grid-x--}}
					{{#markdown}}{{quote}}{{/markdown}}
				</div>{{!--/.cell--}}
			{{/each}}
			</div>{{!--/.grid-x--}}
		</div>{{!--/.staff-container--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.staff--}}