<div data-closable class="sl_notification" style="padding: 16px; text-align: center; background-color: #ddd">
	<p style="margin-bottom: 0;"><strong>Committed to Safety:</strong> Latest information on COVID-19 Precautions <a style="text-decoration: underline; font-weight: 700;" href="https://talbottcampus.com/important-covid-19-update-from-talbott-recovery-campus/">Learn More</a></p>
	<button class="close-button" style="right: .5rem; top: 0;" data-close aria-label="Close modal" type="button">
		<span aria-hidden>&times;</span>
	</button>{{!--/button--}}
</div>