<div id="{{id}}" class="module deck {{#if class}}{{class}}{{/if}}">
	<div class="inner expanded">
		<div class="grid-x medium-up-2 large-up-4">
			{{#each items}}
			{{!Card}}
			<div class="cell">
				<a class="deck__card" data-ga-event data-ga-category="deck-cards" data-ga-action="open modal" data-ga-label="{{title}}" data-open="deck-item-{{@index}}">
					<div class="deck__media" style="background-image: url({{img}})"></div>
					<div class="deck__content">
						{{#markdown}}{{title}}{{/markdown}}
						<div class="button button--outline">Read More</div>
					</div>
				</a>{{!--/.deck__card--}}
			</div>

			{{!Reveal}}
			<div class="reveal deck-modals" id="deck-item-{{@index}}" data-reveal>
				<div class="reveal-card">
            		<h2>{{title}}</h2>
            		{{#markdown}}{{content}}{{/markdown}}
            		<div class="deck-modals__cta">
					{{> component-button phone=true}}
					{{#ifequal img 'assets/img/treatment/IntensiveOutpatientProgram.jpg'}}
					<h4>Ask us about our {{title}}</h4>
					{{else}}
					<h4>Ask us about our {{title}} programs</h4>
					{{/ifequal}}
            		</div>
          		</div>{{!--/.reveal-card--}}
          		<button class="close-button" data-close aria-label="Close modal" type="button">
            		<span aria-hidden>&times;</span>
          		</button>{{!--/button--}}
			</div>{{!--/.reveal--}}
			{{/each}}
		</div>{{!--/.wildcard--holder--}}
	</div>{{!--/.inner.expanded--}}
</div>{{!--/.module.deck.wildcard--deck--}}