<div id="{{id}}" class="module image-grid {{#if class}}{{class}}{{/if}}">
	<div class="inner expanded">
		<div class="grid-x small-up-2 medium-up-3 large-up-6">
			{{#each items}}
			{{!Card}}
			<div class="cell">
				<a class="treatment-box" style="background-image: url({{img}})" data-ga-event data-ga-category="treatment-cards" data-ga-action="open modal" data-ga-label="{{title}}" data-open="treatment-item-{{@index}}">
					<p>{{title}}</p>
					<span>Learn More</span>
				</a>{{!--/.box-content--}}
			</div>

			{{!Reveal}}
			<div class="reveal treatment-modals" id="treatment-item-{{@index}}" data-reveal>
				<div class="reveal-card">
            		<h2>{{title}}</h2>
            		<p>{{#markdown}}{{content}}{{/markdown}}</p>
          		</div>{{!--/.reveal-card--}}
          		<button class="close-button" data-close aria-label="Close modal" type="button">
            		<span aria-hidden>&times;</span>
          		</button>{{!--/button--}}
			</div>{{!--/.reveal--}}
			{{/each}}
		</div>{{!--/.wildcard--holder--}}
	</div>{{!--/.inner.expanded--}}
</div>{{!--/.module.deck.wildcard--deck--}}