<div id="{{id}}" class="module callout {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="card-section">
			<div class="grid-x">
				<div class="cell medium-3">
					<img src="{{img}}" alt="{{alt}}" />
				</div>
				<div class="cell medium-9">
					<h3>{{heading}}</h3>
					<ul>
						{{#each list}}
							<li>{{text}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>{{!--/.card-section--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module callout--}}