<div id="{{id}}" class="module spotlight {{#if class}}{{class}}{{/if}}" {{#if img}}style="background-image:url({{img}})"{{/if}} >
	<div class="inner">
			<div class="spotlight__card">
				<h3>{{heading}}</h3>
				{{#markdown}}<p {{#if admissions}}class="spotlight__text"{{/if}}>{{text}}</p>{{/markdown}}

				{{#if cta}}<h3>{{cta}}</h3>{{/if}}
				<h3 class="callout-header">{{callout-header}}</h3> 
				{{#if admissions}}
				<div class="grid-x admissions-steps">
						<div class="spotlight__callout">
								<p class="callout-text">{{callout-text}}</p>
								<div class="grid-x">
									<div class="cell medium-8">
										<p class="callout-cta">{{callout-cta}}</p>
									</div>
									<div class="cell medium-4">
										<div class="expanded button-group">
											{{> component-button phone=true}}
										</div>{{!--/.expanded.button-group--}}
									</div>
								</div>
							</div>{{!--/.card-section--}}
				</div>{{!--/.grid-x.admissions-steps--}}
				{{/if}}

				{{#if buttons}}
				<div class="expanded button-group">
			        {{> component-button phone=true}}
			    </div>{{!--/.expanded.button-group--}}
			    {{/if}}
			</div> {{!--/.spotlight__card--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.spotlight--}}