{{> component-header mobile-menu=true navigation=true}}

<div class="content">
	{{> component-duo main.main billboard=true video-modal=true class="duo--billboard"}}
	{{> component-deck main.treatment}}
	{{> component-callout main.offers}}
	{{> component-map main.location}}
	{{> component-gallery main.gallery}}
	<div id="programs" class="module programs">
		<h2 id="programs-header" class="program-header">Programs</h2>
		{{> component-duo main.professionals media-left=true }}
		{{> component-duo main.pilots }}
		{{> component-duo main.adults media-left=true }}
		{{> component-duo main.family }}
	</div>
	{{> component-spotlight main.admissions admissions=true class="spotlight--primary"}}
	{{> component-duo main.insurance insurance=true large-media="5" large-content="7" class="duo--insurance" media-bottom="true"}}
	{{> component-spotlight main.contact buttons=true}}
	{{> component-footer}}

	{{! VOB REVEAL }}
	<div class="reveal vob" id="vob-form" data-reveal>
	  {{> vob-form vob.homepage}}
	        <button class="close-button" data-ga-event data-ga-category="Video" data-ga-action="close modal" data-ga-label="Video" data-close aria-label="Close modal" type="button">
	          <span aria-hidden>&times;</span>
	        </button>{{!--/button--}}
	</div>{{!--/.reveal--}}
</div>

{{> component-sticky-cta }}